@import "tailwindcss";

@theme {
  --font-rubik: "Rubik", sans-serif;
  --color-brand-purple: #a729f5;
  --color-brand-mystic-navy: #313e51;
  --color-brand-stone-blue: #3b4d66;
  --color-brand-gray-navy: #626c7f;
  --color-brand-ozone: #abc1e1;
  --color-brand-snow-white: #f4f6fa;
  --color-brand-white: #ffffff;
  --color-brand-vivid-mint: #26d782;
  --color-brand-red-aura: #ee5454;
}
@font-face {
  font-family: Rubik;
  src: url("../src/assets/fonts/Rubik-VariableFont_wght.ttf") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}
